#app {
    display: flex;
    background: lightgrey;
}

.cell {
    border: 1px solid black;
    width: 90px;
    height: 90px;
}

.black {
    background: black;
}

.white {
    background: white;
}

.picked {
    background: pink;
}