body {
    display: flex;
}

#app {
    display: flex;
}

#sidebar {

}

.cell {
    display: flex;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    color: red;
    font-size: 20px;
}

.piece {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
}

.highlight {
    background: indianred !important;
}

.piece.tamm {
    border: 3px solid gray;
}

.black {
    background: black;
}

.white {
    background: white;
}

.green {
    background: #d0deb9;
}